html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: #9bc400;
    width: 50%;
    max-width: 750px;
    min-width: 480px;
    margin: 0 auto;
}

#guessbox {
    background-color: #8076a3;
}